.orderbook {
    display: flex;
    justify-content: space-around;
  }
  
  .ordertable {
    width: 45%;
    border-collapse: collapse;
    
  }
  
  th, td {
    padding: 8px;
    text-align: right;
    border: 1px solid #ddd;
  }
  
  .sell { background-color: #f8d7da; }  /* Red for sell */
  .buy { background-color: #d4edda; }   /* Green for buy */